.properties-condition {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    padding: 3px 6px 2px;
    border: 1px solid hsl(225, 10%, 75%);
    border-radius: 2px;
    background-color: hsl(225, 10%, 97%);
    font-family: inherit;

    display: flex;
    flex-direction: column;
    align-items: start;
    white-space: nowrap;
}

.djs-element.highlight-diff-big .djs-outline {
    visibility: visible;

    stroke: hsl(180, 100%, 70%);
    stroke-width: 15px;
}

.djs-element.highlight-diff .djs-outline {
    visibility: visible;

    stroke: hsl(180, 100%, 70%);
    stroke-width: 3px;
}

/* dmn styles */
.dmn-decision-table-container .cell {
    font-size: 14px;
}


/* dive-in */
.dive-in-call-activity {
    padding: 3px 6px 2px;
    border: 1px solid hsl(225, 10%, 75%);
    border-radius: 2px;
    background-color: hsl(225, 80%, 80%);
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

.dive-in-call-activity-waiting {
    padding: 3px 6px 2px;
    border: 1px solid hsl(225, 10%, 75%);
    border-radius: 2px;
    background-color: hsl(225, 80%, 80%);
    white-space: nowrap;
    user-select: none;
    cursor: wait;
}

/* changes table */
.changes-table th,
.changes-table td {
    border: 1px solid black;
    border-style: dotted;
}
.changes-table th {
    height: 32px;
    text-align: left;
}
.changes-table td {
    vertical-align: top;
}

.table-fixed-header { 
    overflow: auto; 
    font-size: 16px;
}

.table-fixed-header thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}

/* tables common style */
table  { 
    border-collapse: collapse; 
    width: 100%; 
}

th, td { 
    padding: 2px 2px; 
}

th { 
    background: #eee; 
}
